force-app/main/default/flows/Update_Equipments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>532</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Maintenances</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>Today - 365</description>
        <name>OneYear</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 365</expression>
    </formulas>
    <interviewLabel>Update Equipments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Equipments</label>
    <loops>
        <name>Loop_Maintenances</name>
        <label>Loop Maintenances</label>
        <locationX>536</locationX>
        <locationY>212</locationY>
        <assignNextValueToReference>Maintenance</assignNextValueToReference>
        <collectionReference>Get_Maintenances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Equipment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Maintenances</name>
        <label>Get Maintenances</label>
        <locationX>335</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Maintenances</targetReference>
        </connector>
        <filters>
            <field>Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MNT</stringValue>
            </value>
        </filters>
        <filters>
            <field>VisitDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>OneYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Schindler_Maintenance_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Equipment</name>
        <label>Update Equipment</label>
        <locationX>769</locationX>
        <locationY>215</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_12_Month_PM_Count__c</field>
            <value>
                <elementReference>Index</elementReference>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordUpdates>
    <start>
        <locationX>87</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Get_Maintenances</targetReference>
        </connector>
        <object>Equipment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-09</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Maintenance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Schindler_Maintenance_Activity__c</objectType>
    </variables>
</Flow>
